.item-pane-top {
    -fx-background-size: cover;
    -fx-background-image: url('../images/backgrounds/woods.jpg');
}

.label-item {
    -fx-font-size: 16px;
    -fx-font-weight: bolder;
    -fx-font-family: VT323;
    -fx-fill: black;
}

.vbox-items {
    -fx-spacing: 15px;
    -fx-background-color: #f0c060;

}

.item-container {
    -fx-min-height: 80px;
    -fx-background-color: #f9f6cf;
    -fx-border-color: #d5ba67;
    -fx-background-radius: 15;
    -fx-border-radius: 10;
    -fx-alignment: center-left;
    -fx-hgrow: always;

}

.item-mouse-entered {
    -fx-font-size: 18;
    -fx-background-color: #e3af48;
}

.marked-item {
    -fx-border-color: #2f4e62;
    -fx-border-width: 5px;
    -fx-background-color: #f9f6cf;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.item-container Label {
    -fx-font-size: 14px;
}

#descriptionBox {
    -fx-padding: 5px;

}

#descriptionBox .label-description {
    -fx-font-size: 14px;
    -fx-font-family: VT323;
    -fx-fill: #f3f3f3;

}

